*{
  margin:0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main{
display: flex; 
} 


.grid-container {
  margin: 4vw;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

card p {
  font-size: 14px;
  line-height: 1.5;
}

.card1 {
  height: 136px;
  width: 230px;
  background: linear-gradient(120deg, #FFE4D5, #FFA472);
  border-radius: 10px;
  position: relative;
}


.card2 {
  height: 136px;
  width: 230px;
  background: linear-gradient(to right, #EEFFE6, #C0FCA4);
  border-radius: 10px;
}

.card3 {
  height: 136px;
  width: 230px;
  background: linear-gradient(to right, #F2E1FF, #DCB0FF);
  border-radius: 10px;
}

.card4 {
  height: 136px;
  width: 230px;
  background: linear-gradient(to right, #DEF7FF, #A1E8FF);
  border-radius: 10px;
}

.active-user {
  color: #743818;
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 15px;
}
.active-user1 {
  color: #358A0E;
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 15px;
}
.active-user2 {
  color: #4F008D;
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 15px;
}
.active-user3 {
  color: #0B80A7;
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  padding-top: 15px;
}

.red-logo {
  width: 22.14px;
  height: 24px;
  margin-top: 17px;
  margin-left: 17px;
}
.green-logo {
  margin-top: 23px;
  margin-left: 15px;
  width: 24px;
  height: 12px;
}
.violet-logo {
  margin-top: 20px;
  margin-left: 15px;
  width: 16px;
  height: 20px;
}
.blue-logo {
  margin-top: 20px;
  margin-left: 15px;
  width: 16px;
  height: 20px;
}



.red_icon {
  position: absolute;
  bottom: 24px;
  right: 14px;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.card2 {
  position: relative;
}

.green_icon {
  position: absolute;
  bottom: 24px;
  right: 14px;
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}
.green_icon:hover {
  cursor: pointer;
}
.green_icon:active{
  transform: scale(0.9);
}

.card3 {
  position: relative;
}

.violet_icon {
  position: absolute;
  bottom: 24px;
  right: 14px;
  width: 25px;
  height: 25px;
}

.card4 {
  position: relative;
}

.blue_icon {
  position: absolute;
  bottom: 24px;
  right: 14px;
  width: 25px;
  height: 25px;
}


.Activenumber {
  position: relative;
  width: fit-content;
 
}

.Activenumber h2 {
  position: absolute;
  bottom: 15px;
  right: 50px;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  color: #743818;
}
.Activenumber1{
  position: relative;
  width: fit-content;  
}
.Activenumber1 h2 {
  position: absolute;
  bottom: 15px;
  right: 40px;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  color: #358A0E;
}
.Activenumber2{
  position: relative;
  width: fit-content;  
}
.Activenumber2 h2 {
  position: absolute;
  bottom: 15px;
  right: 120px;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  color: #4F008D;
}
.Activenumber3{
  position: relative;
  width: fit-content;  
}
.Activenumber3 h2 {
  position: absolute;
  bottom: 15px;
  right: 110px;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
  color: #0B80A7;
}

@media only screen and (max-width: 1290px) {
.grid-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
}